#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#include "../zmk-nodefree-config/helper.h"

#define DEF 0
#define SYM 1
#define NUM 2
#define FN 3
#define GENSHIN 4
// #define MOUSE 5

#define XXX &none
#define ___ &trans

/* Global settings */

#define QUICK_TAP_MS 175

#include "sendString.dtsi"
#include "leader.dtsi"
#include "conf_changes.dtsi"
#include "mouse.dtsi"
#include "combos.dtsi"  // requires layer aliases
#include "extra_keys.h"
#include "behavior.dtsi"

/* Keymap */

ZMK_LAYER(base,
    X_LT     &kp FSLH       &kp W          &kp F           &kp P           &kp B             X_MT     &mt_wheel SCROLL_UP J      &mt_wheel SCROLL_LEFT L       &mt_mouse MOVE_UP U      &mt_wheel SCROLL_RIGHT Y    &kp SEMI      X_RT
    X_LM     &hml LGUI A    &hml LALT R    &hml LSHFT S    &hml LCTRL T    &kp G             X_MM     &mt_wheel SCROLL_DOWN M    &hmr_cml 0 N                  &hmr_smd 0 E             &hmr_amr 0 I                &hml LGUI O   X_RM
    X_LB     &kp Z          &mt LC(X) X    &mt LC(C) C     &kp D           &mt LC(V) V       X_MB     &kp K                      &kp H                         &kp COMMA                &kp DOT                     &kp Q         X_RB
    &hello_world                                                   &smart_shft     &lt SYM SPACE     X_MH     &lt NUM BACKSPACE          &mt LS(LC(LEFT_ALT)) ENTER                                                                       X_RH
)

ZMK_LAYER(sym,
    X_LT     XXX    XXX    &kp LEFT_BRACE          &kp RIGHT_BRACE          &kp PIPE         X_MT     &kp GRAVE    &kp TILDE    &kp LESS_THAN    &kp GREATER_THAN    &kp BACKSLASH         X_RT
    X_LM     XXX    XXX    &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS    &kp COLON        X_MM     &kp PLUS     &kp MINUS    &kp SLASH        &kp ASTRK           &kp SINGLE_QUOTE      X_RM
    X_LB     XXX    XXX    &kp LEFT_BRACKET        &kp RIGHT_BRACKET        &kp QUESTION     X_MB     &kp AMPS     &kp EQUAL    &kp UNDER        &kp PERIOD          &kp DOUBLE_QUOTES     X_RB
    X_LH                                           XXX                      ___              X_MH     XXX          XXX                                                                     X_RH
)

ZMK_LAYER(num,
    X_LT     XXX        &kp N7          &kp N8           &kp N9           XXX                     X_MT     XXX              &kp PG_UP          &kp UP             &kp PG_DN          XXX          X_RT
    X_LM     &kp LGUI   &hml LALT N4    &hml LSHFT N5    &hml LCTRL N6    XXX                     X_MM     XXX              &hmr RCTRL LEFT    &hmr RSHFT DOWN    &hmr RALT RIGHT    &kp RGUI     X_RM
    X_LB     XXX        &kp N1          &kp N2           &kp N3           &kp LC(MINUS)           X_MB     &kp LC(EQUAL)    &kp HOME           ___                &kp END            XXX          X_RB
    &kp DOT                                              &kp N0           &kp LS(LC(LEFT_ALT))    X_MH     ___              XXX                                                                   X_RH
)

ZMK_LAYER(fn,
    X_LT     XXX    &kp F7    &kp F8    &kp F9         &kp F10        X_MT     XXX           XXX             XXX             XXX             XXX             X_RT
    X_LM     XXX    &kp F4    &kp F5    &kp F6         &kp F11        X_MM     &bt BT_CLR    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    X_RM
    X_LB     XXX    &kp F1    &kp F2    &kp F3         &kp F12        X_MB     XXX           XXX             XXX             XXX             XXX             X_RB
    X_LH                                &bootloader    &sys_reset     X_MH     &sys_reset    &bootloader                                                     X_RH
)

ZMK_LAYER(genshin,
    &kp ESCAPE    &kp Q     &kp W     &kp E     &kp R        &kp T      X_MT     XXX    XXX    XXX    XXX    XXX     X_RT
    &kp LCTRL     &kp A     &kp S     &kp D     &kp F        &kp X      X_MM     XXX    XXX    XXX    XXX    XXX     X_RM
    &kp LSHIFT    &kp N1    &kp N2    &kp N3    &kp N4       &kp N5     X_MB     XXX    XXX    XXX    XXX    XXX     X_RB
    &kp LALT                                    &kp SPACE    &kp M      X_MH     XXX    XXX                          X_RH
)

// ZMK_LAYER(mouse,
//     X_LT     XXX    &LMT1_mt 0 0     &LMT2_mt 0 0      &LMT3_mt 0 0     XXX          X_MT     &mt_mtp_s_up SCROLL_UP 0        &mt_mtp_s_left SCROLL_LEFT 0    &mt_mtp_up MOVE_UP 0        &mt_mtp_s_right SCROLL_RIGHT 0    &RMT5      X_RT
//     X_LM     XXX    &LMT7            &LMT8             &LMT9            XXX          X_MM     &mt_mtp_s_down SCROLL_DOWN 0    &mt_mtp_left MOVE_LEFT 0        &mt_mtp_down MOVE_DOWN 0    &mt_mtp_right MOVE_RIGHT 0        &RMT10     X_RM
//     X_LB     XXX    &LMT13_mt 0 0    &LMT14_mt 0 0     &LMT15_mt 0 0    XXX          X_MB     &RMT11                          &RMT12                          &RMT13                      &RMT14                            &RMT15     X_RB
//     &mkp MB3                                           &mkp MB2         &mkp MB1     X_MH     &mkp MB1                        &mkp MB2                                                                                                 &mkp MB3
// )