/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <100>;

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 35

// //mouse click
// ZMK_COMBO(rlClick,      &mkp MB1,           RT1 RM1,     DEF,                          COMBO_TERM_FAST)
// ZMK_COMBO(rrClick,      &mkp MB2,           RT2 RM2,     DEF,                          COMBO_TERM_FAST)
// ZMK_COMBO(rmClick,      &mkp MB3,           RT3 RM3,     DEF,                          COMBO_TERM_FAST)
// ZMK_COMBO(llClick,      &mkp MB1,           LT1 LM1,     DEF,                          COMBO_TERM_FAST)
// ZMK_COMBO(lrClick,      &mkp MB2,           LT2 LM2,     DEF,                          COMBO_TERM_FAST)
// ZMK_COMBO(lmClick,      &mkp MB3,           LT3 LM3,     DEF,                          COMBO_TERM_FAST)

// mods
ZMK_COMBO(left_control,   &kp LCTRL,           LT1 LM1,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(right_control,  &kp RCTRL,           RT1 RM1,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(left_shift,     &kp LSHFT,           LT2 LM2,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(right_shift,    &kp RSHFT,           RT2 RM2,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(left_alt,       &kp LALT,            LT3 LM3,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(right_alt,      &kp RALT,            RT3 RM3,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(left_gui,       &kp LGUI,            LT4 LM4,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)
ZMK_COMBO(right_gui,      &kp RGUI,            RT4 RM4,     DEF SYM NUM FN GENSHIN,  COMBO_TERM_FAST)

//layers
ZMK_COMBO(normal,       &to DEF,            RT2 RT3,     DEF SYM NUM FN GENSHIN MOUSE, COMBO_TERM_FAST)
ZMK_COMBO(functions,    &sl FN,             RB2 RB3,     DEF,                          COMBO_TERM_FAST)
ZMK_COMBO(genshin,      &to GENSHIN,        RT0 RT4,     DEF,                          COMBO_TERM_FAST)

//utilities
ZMK_COMBO(move_window,  &kp LG(LS(LEFT)),   LT3 LT2,     DEF,                          COMBO_TERM_FAST)
ZMK_COMBO(maximize,     &kp LG(UP),         LT3 LT2 LT1, DEF,                          COMBO_TERM_FAST)
ZMK_COMBO(copy,         &kp LC(C),          LB3 LB2,     DEF,                          COMBO_TERM_FAST)
ZMK_COMBO(paste,        &kp LC(V),          LB2 LB1,     DEF,                          COMBO_TERM_FAST)
ZMK_COMBO(cut,          &kp LC(X),          LB3 LB1,     DEF,                          COMBO_TERM_FAST)

//reset
ZMK_COMBO(lReset,       &sys_reset,         LH2 LH1 LH0,     DEF SYM NUM FN GENSHIN MOUSE, COMBO_TERM_FAST)
ZMK_COMBO(rReset,       &sys_reset,         RH0 RH1 RH2,     DEF SYM NUM FN GENSHIN MOUSE, COMBO_TERM_FAST)

//bootloader
ZMK_COMBO(lBootL,       &bootloader,        LH2 LH1 LB1,     DEF SYM NUM FN GENSHIN MOUSE, COMBO_TERM_FAST)
ZMK_COMBO(rBootL,       &bootloader,        RH0 RH1 RB1,     DEF SYM NUM FN GENSHIN MOUSE, COMBO_TERM_FAST)
