/*
leader
/*                                      42 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────┬────────────────────────╮ 
  │  0   1   2   3   4   5 │  6   7   8   9  10  11 │ 
  │ 12  13  14  15  16  17 │ 18  19  20  21  22  23 │ 
  │ 24  25  26  27  28  29 │ 30  31  32  33  34  35 │ 
  ╰───────────╮ 36  37  38 │ 39  40  41 ╭───────────╯ 
              ╰────────────┴────────────╯             */

#pragma once

#define _B  5  // left-top row
#define _P  4
#define _F  3
#define _W  2
#define _FSLASH  1
#define _ESC  0
#define _J  6  // right-top row
#define _L  7
#define _U  8
#define _Y  9
#define _SEMI 10
#define _G 17  // left-middle row
#define _T 16
#define _S 15
#define _R 14
#define _A 13
#define _TAB 12
#define _M 18  // right-middle row
#define _N 19
#define _E 20
#define _I 21
#define _O 22
#define _V 29  // left-bottom row
#define _D 28
#define _C 27
#define _X 26
#define _Z 25
#define _K 30  // right-bottom row
#define _H 31
#define _COMMA 32
#define _DOT 33
#define _Q 34


#define LEADER(NAME, KEYS, BINDINGS, LAYERS) \
    leader_##NAME { \
        key-positions = <KEYS>; \
        bindings = <BINDINGS>; \
        layers = <LAYERS>; \
        immediate-trigger; \
    };

#define MACRO_MAKER(NAME, SEQUENCE) \
    ZMK_BEHAVIOR(NAME, macro, \
        bindings = <&macro_tap SEQUENCE>; \
    )

MACRO_MAKER(test, &kp T &kp E &kp S &kp T)

/{ 
    leader_sequences {
        compatible = "zmk,leader-sequences";
        LEADER(close, _E _X _I _T, &kp la(F4), DEF);
        // LEADER(hello, _H _W, &hello_world, DEF);

        // //  buildProjects:
        // LEADER(newInThisDirectory, _N _B _D, &kp lc(la(INS)), DEF)
        // LEADER(buildProject, _B _D, &kp lc(F9), DEF)
        // LEADER(rebuild, _R _B _D, &kp lc(ls(F9)), DEF)
        
        // //  basicEditing:
        //     // LEADER(cut, , &kp lc(X), DEF)
        //     // LEADER(copy, , &kp lc(C), DEF)
        //     // LEADER(paste, , &kp lc(V), DEF)
        // LEADER(pasteAsPlainText, _P _T, &kp lc(la(ls(V))), DEF)
        // LEADER(pasteFromHistory, _P _H, &kp lc(ls(V)), DEF)
        // LEADER(copyPaths, _C _P, &kp lc(ls(C)), DEF)
        // LEADER(copyReference, _C _R, &kp lc(la(ls(C))), DEF)
        //     // LEADER(saveAll, , &kp lc(S), DEF)
        //     // LEADER(undo, , &kp lc(Z), DEF)
        //     // LEADER(redo, , &kp lc(ls(Z)), DEF)
        //     // LEADER(indentSelection, , TAB, DEF)
        //     // LEADER(unindentLineOrSelection, , &kp ls(TAB), DEF)
        // LEADER(autoIndentLines, _A _I _L, &kp lc(la(I)), DEF)
        // LEADER(startNewLine, _N _L _N, &kp ls(ENTER), DEF)
        // LEADER(startNewLineBeforeCurrent, _N _L _P, &kp lc(la(ENTER)), DEF)
        // LEADER(deleteLine, _D _L, &kp lc(Y), DEF)
        // LEADER(joinLines, _J _L, &kp lc(ls(J)), DEF)
        // LEADER(duplicateLineOrSelection, _D _P _L, &kp lc(D), DEF)
        // LEADER(toggleCase, _T _C, &kp lc(ls(U)), DEF)
        // LEADER(scratchFile, _S _F, &kp lc(la(ls(INS))), DEF)
        // LEADER(openSourceInNewWindow, _O _S _N, &kp ls(F4), DEF)
        // LEADER(increaseFontSizeInAllEditors, _I _F, &kp la(ls(DOT)), DEF)
        // LEADER(decreaseFontSizeInAllEditors, _D _F, &kp la(ls(COMMA)), DEF)
        
        // //  caretNavigation:
        //     // LEADER(moveCaretToPreviousWord, , &kp lc(LEFT), DEF)
        //     // LEADER(moveCaretToNextWord, , &kp lc(RIGHT), DEF)
        //     // LEADER(moveCaretToLineStart, , HOME, DEF)
        //     // LEADER(moveCaretToLineEnd, , END, DEF)
        // LEADER(moveCaretToMatchingBrace, _M _B, &kp lc(ls(M)), DEF)
        // LEADER(moveCaretToCodeBlockStart, _B _S, &kp lc(LBKT), DEF)
        // LEADER(moveCaretToCodeBlockEnd, _B _E, &kp lc(RBKT), DEF)
        // LEADER(nextMethod, _N _M, &kp la(DOWN), DEF)
        // LEADER(previousMethod, _p _M, &kp la(UP), DEF)
        //     // LEADER(moveCaretToPageTop, _M _P _T, &kp lc(PG_UP), DEF)
        //     // LEADER(moveCaretToPageBottom _M _P _B, , &kp lc(PG_DN), DEF)
        //     // LEADER(pageUp, , PG_UP, DEF)
        //     // LEADER(pageDown, , PG_DN, DEF)
        //     // LEADER(moveCaretToTextStart, , &kp lc(HOME), DEF)
        //     // LEADER(moveCaretToTextEnd, , &kp lc(END), DEF)
        
        // //  selectText:
        // // LEADER(selectAll, , &kp lc(A), DEF)
        //     // LEADER(leftWithSelection, , &kp ls(LEFT), DEF)
        //     // LEADER(rightWithSelection, , &kp ls(RIGHT), DEF)
        //     // LEADER(moveCaretToPreviousWordWithSelection, , &kp lc(ls(LEFT)), DEF)
        //     // LEADER(moveCaretToNextWordWithSelection, , &kp lc(ls(RIGHT)), DEF)
        //     // LEADER(moveCaretToLineStartWithSelection, , &kp ls(HOME), DEF)
        //     // LEADER(moveCaretToLineEndWithSelection, , &kp ls(END), DEF)
        //     // LEADER(upWithSelection, , &kp ls(UP), DEF)
        //     // LEADER(downWithSelection, , &kp ls(DOWN), DEF)
        // LEADER(moveCaretToCodeBlockStartWithSelection, _S _B _S, &kp lc(ls(LBKT)), DEF)
        // LEADER(moveCaretToCodeBlockEndWithSelection, _S _B _E, &kp lc(ls(RBKT)), DEF)
        //     // LEADER(moveCaretToPageTopWithSelection, , &kp lc(ls(PG_UP)), DEF)
        //     // LEADER(moveCaretToPageBottomWithSelection, , &kp lc(ls(PG_DN)), DEF)
        //     // LEADER(pageUpWithSelection, , &kp ls(PG_UP), DEF)
        //     // LEADER(pageDownWithSelection, , &kp ls(PG_DN), DEF)
        //     // LEADER(moveCaretToTextStartWithSelection, , &kp lc(ls(HOME)), DEF)
        //     // LEADER(moveCaretToTextEndWithSelection, , &kp lc(ls(END)), DEF)
        //     // LEADER(extendSelection, , &kp lc(W), DEF)
        //     // LEADER(shrinkSelection, , &kp lc(ls(W)), DEF)
        
        // //  codeFolding:
        // // LEADER(expand, _E _X, &kp lc(KP_PLUS), DEF)
        // // LEADER(collapse, _C _L, &kp lc(KP_MINUS), DEF)
        // LEADER(expandRecursively, _E _X _R, &kp lc(la(KP_PLUS)), DEF)           
        // LEADER(collapseRecursively, _C _L _R, &kp lc(la(KP_MINUS)), DEF)
        // LEADER(expandAll, _E _X _A, &kp lc(ls(KP_PLUS)), DEF)
        // LEADER(collapseAll, _C _L _A, &kp lc(ls(KP_MINUS)), DEF)
        // LEADER(foldSelection, , &kp lc(DOT), DEF)
        
        // //  multipleCaretsAndSelectionRanges:
        //     // LEADER(addRemoveCaret, , &kp la(ls(MBTN1)), DEF)
        // LEADER(toggleColumnSelectionMode, , &kp la(ls(INS)), DEF)
        // LEADER(cloneCaretAbove, , &kp lc(rc(UP)), DEF)
        // LEADER(cloneCaretBelow, , &kp lc(rc(DOWN)), DEF)
        // LEADER(addCaretToEachLineInSelection, , &kp la(ls(G)), DEF)
        // LEADER(addSelectionForNextOccurrence, , &kp la(J), DEF)
        // LEADER(selectAllOccurrences, , &kp lc(la(ls(J))), DEF)
        // LEADER(deselectLastOccurrence, , &kp la(ls(J)), DEF)
        //     // LEADER(createRectangularSelection, , &kp la(ls(MBTN2)), DEF)
        //     // LEADER(dragToCreateRectangularSelection, , &kp la(MBTN1), DEF)
        //     // LEADER(dragToCreateMultipleRectangularSelections, , &kp lc(la(ls(MBTN1))), DEF)
        
        // //  codingAssistance:
        // LEADER(showIntentionActions, , &kp la(ENTER), DEF)
        // LEADER(basicCompletion, , &kp lc(SPACE), DEF)
        // LEADER(typeMatchingCompletion, , &kp lc(ls(SPACE)), DEF)
        // LEADER(secondBasicCompletion, , &kp lc(la(SPACE)), DEF)
        // LEADER(completeCurrentStatement, , &kp lc(ls(ENTER)), DEF)
        // LEADER(reformatCode, , &kp lc(la(L)), DEF)
        // LEADER(parameterInfo, , &kp lc(P), DEF)
        // LEADER(quickDocumentation, , &kp lc(Q), DEF)
        // LEADER(moveStatementUp, , &kp lc(ls(UP)), DEF)
        // LEADER(moveStatementDown, , &kp lc(ls(DOWN)), DEF)
        // LEADER(moveElementLeft, , &kp lc(la(ls(LEFT))), DEF)
        // LEADER(moveStatementRight, , &kp lc(la(ls(RIGHT))), DEF)
        // LEADER(moveLineUp, , &kp la(ls(UP)), DEF)
        // LEADER(moveLineDown, , &kp la(ls(DOWN)), DEF)
        // LEADER(commentWithLineComment, , &kp lc(SLASH), DEF)
        // LEADER(commentWithBlockComment, , &kp lc(ls(SLASH)), DEF)
        // LEADER(surroundWith, , &kp lc(la(T)), DEF)
        // LEADER(generate, , &kp la(INS), DEF)
        
        // //  contextNavigation:
        // LEADER(nextMethod, , &kp la(DOWN), DEF)
        // LEADER(previousMethod, , &kp la(UP), DEF)
        // LEADER(goToLineColumn, , &kp lc(G), DEF)
        // LEADER(switcher, , &kp lc(TAB), DEF)
        // LEADER(selectIn, , &kp la(F1), DEF)
        // LEADER(recentFiles, , &kp lc(E), DEF)
        // LEADER(lastEditLocation, , &kp lc(ls(BKSPC)), DEF)
        // LEADER(back, , &kp lc(la(LEFT)), DEF)
        // LEADER(forward, , &kp lc(la(RIGHT)), DEF)
        // LEADER(selectNextTab, , &kp la(RIGHT), DEF)
        // LEADER(selectPreviousTab, , &kp la(LEFT), DEF)
        // LEADER(toggleAnonymousBookmark, , &kp F11, DEF)
        // //  LEADER(toggleBookmarkWithDigit, , &kp lc(ls(, DEF)comJetbrainsWebhelpShortcutteryShortcutsKeyCustom1076e435))
        // LEADER(toggleBookmarkWithMnemonic, , &kp lc(F11), DEF)
        // LEADER(showAllBookmarks, , &kp ls(F11), DEF)
        // //  LEADER(goToBookmarkWithDigit, , &kp lc(, DEF)comJetbrainsWebhelpShortcutteryShortcutsKeyCustom22a3022d)
        // LEADER(showMnemonicBookmarks, , &kp lc(ls(F11)), DEF)
        // LEADER(showBookmarksWindow, , &kp la(N2), DEF)
        // LEADER(showStructureWindow, , &kp la(N7), DEF)
        // LEADER(showFindWindow, , &kp la(N3), DEF)
        // LEADER(nextOccurrence, , &kp lc(la(DOWN)), DEF)
        // LEADER(previousOccurrence, , &kp lc(la(UP)), DEF)
        
        // //  findEverything:
        // LEADER(searchEverywhere, , &kp ls(rs(N2)), DEF)
        // LEADER(find, , &kp lc(F), DEF)
        // LEADER(findNextMoveToNextOccurrence, , &kp F3, DEF)
        // LEADER(findPreviousMoveToPreviousOccurrence, , &kp ls(F3), DEF)
        // LEADER(replace, , &kp lc(R), DEF)
        // LEADER(findInFiles, , &kp lc(ls(F)), DEF)
        // LEADER(replaceInFiles, , &kp lc(ls(R)), DEF)
        // LEADER(nextOccurrenceOfTheWordAtCaret, , &kp lc(F3), DEF)
        // LEADER(goToFile, , &kp lc(ls(N)), DEF)
        // LEADER(fileStructure, , &kp lc(F12), DEF)
        // LEADER(goToSymbol, , &kp lc(la(ls(N))), DEF)
        // LEADER(findAction, , &kp lc(ls(A)), DEF)
        
        // // navigateFromSymbols:
        // LEADER(findUsages, , &kp la(F7), DEF)
        // LEADER(goToDeclarationOrUsages, , &kp lc(B), DEF)
        // LEADER(goToTypeDeclaration, , &kp lc(ls(B)), DEF)
        // LEADER(showUsages, , &kp lc(la(F7)), DEF)
        // LEADER(goToSuperMethod, , &kp lc(U), DEF)
        // LEADER(goToImplementations, , &kp lc(la(B)), DEF)
        // LEADER(goToTest, , &kp lc(ls(T)), DEF)
        // LEADER(highlightUsagesInFile, , &kp lc(ls(F7)), DEF)
        
        // //  codeAnalysis:
        // LEADER(showIntentionActions, , &kp la(ENTER), DEF)
        // LEADER(errorDescription, , &kp lc(F1), DEF)
        // LEADER(nextHighlightedError, , &kp F2, DEF)
        // LEADER(previousHighlightedError, , &kp ls(F2), DEF)
        // LEADER(runInspectionByName, , &kp lc(la(ls(I))), DEF)
        // LEADER(showProblemsWindow, , &kp la(N6), DEF)
        
        // //  runAndDebug:
        // LEADER(runAnything, , &kp lc(rc(N0)), DEF)
        // LEADER(runContextConfiguration, , &kp ls(F10), DEF)
        // LEADER(run, , &kp la(ls(F10)), DEF)
        // LEADER(debugContextConfiguration, , &kp ls(F9), DEF)
        // LEADER(debug, , &kp la(ls(F9)), DEF)
        // LEADER(attachToProcess, , &kp lc(la(F5)), DEF)
        // LEADER(stop, , &kp lc(F2), DEF)
        // LEADER(resumeProgram, , &kp F9, DEF)
        // LEADER(stopBackgroundProcesses, , &kp lc(ls(F2)), DEF)
        // LEADER(stepOver, , &kp F8, DEF)
        // LEADER(forceStepOver, , &kp la(ls(F8)), DEF)
        // LEADER(stepInto, , &kp F7, DEF)
        // LEADER(smartStepInto, , &kp ls(F7), DEF)
        // LEADER(forceStepInto, , &kp la(ls(F7)), DEF)
        // LEADER(stepOut, , &kp ls(F8), DEF)
        // LEADER(runToCursor, , &kp la(F9), DEF)
        // LEADER(forceRunToCursor, , &kp lc(la(F9)), DEF)
        // LEADER(showExecutionPoint, , &kp la(F10), DEF)
        // LEADER(evaluateExpression, , &kp la(F8), DEF)
        // LEADER(quickEvaluateExpression, , &kp lc(la(F8)), DEF)
        // LEADER(toggleLineBreakpoint, , &kp lc(F8), DEF)
        // LEADER(toggleTemporaryLineBreakpoint, , &kp lc(la(ls(F8))), DEF)
        // LEADER(viewBreakpoints, , &kp lc(ls(F8)), DEF)
        // LEADER(editBreakpoint, , &kp lc(ls(F8)), DEF)
        // LEADER(showRunWindow, , &kp la(N4), DEF)
        // LEADER(showDebugWindow, , &kp la(N5), DEF)
        // LEADER(showServicesWindow, , &kp la(N8), DEF)
        
        // //  refactorings:
        // LEADER(refactorThis, , &kp lc(la(ls(T))), DEF)
        // LEADER(rename, , &kp ls(F6), DEF)
        // LEADER(changeSignature, , &kp lc(F6), DEF)
        // LEADER(inline, , &kp lc(la(N)), DEF)
        // LEADER(move, , &kp F6, DEF)
        // LEADER(extractMethod, , &kp lc(la(M)), DEF)
        // LEADER(introduceField, , &kp lc(la(F)), DEF)
        // LEADER(introduceParameter, , &kp lc(la(P)), DEF)
        // LEADER(introduceVariable, , &kp lc(la(V)), DEF)
        // LEADER(safeDelete, , &kp la(DEL), DEF)
        
        // //  globalVCSActions:
        // LEADER(vcsOperationsPopup, , &kp la(GRV), DEF)
        // LEADER(commit, , &kp lc(K), DEF)
        // LEADER(updateProject, , &kp lc(T), DEF)
        // LEADER(rollback, , &kp lc(la(Z)), DEF)
        // LEADER(push, , &kp lc(ls(K)), DEF)
        // LEADER(nextChange, , &kp lc(la(ls(DOWN))), DEF)
        // LEADER(previousChange, , &kp lc(la(ls(UP))), DEF)
        // LEADER(showVersionControlWindow, , &kp la(N9), DEF)
        // LEADER(showCommitWindow, , &kp la(N0), DEF)
        
        // //  differencesViewer:
        // LEADER(showDiff, , &kp lc(D), DEF)
        // LEADER(compareFiles, , &kp lc(D), DEF)
        // LEADER(nextDifference, , &kp F7, DEF)
        // LEADER(previousDifference, , &kp ls(F7), DEF)
        // LEADER(acceptLeftSide, , &kp lc(la(R)), DEF)
        // LEADER(acceptRightSide, , &kp lc(la(A)), DEF)
        // LEADER(selectOppositeDiffPane, , &kp lc(ls(TAB)), DEF)
        // LEADER(showDiffSettingsPopup, , &kp lc(ls(D)), DEF)
        
        // //  toolWindows:
        // LEADER(hideActiveToolWindow, , &kp ls(ESC), DEF)
        // LEADER(hideAllToolWindows, , &kp lc(ls(F12)), DEF)
        // LEADER(jumpToLastToolWindow, , &kp F12, DEF)
        // LEADER(stretchToLeft, , &kp lc(la(ls(LEFT))), DEF)
        // LEADER(stretchToRight, , &kp lc(la(ls(RIGHT))), DEF)
        // LEADER(stretchToTop, , &kp lc(la(ls(UP))), DEF)
        // LEADER(stretchToBottom, , &kp lc(la(ls(DOWN))), DEF)
        // LEADER(showProjectWindow, , &kp la(N1), DEF)
        // LEADER(showBookmarksWindow, , &kp la(N2), DEF)
        // LEADER(showFindWindow, , &kp la(N3), DEF)
        // LEADER(showRunWindow, , &kp la(N4), DEF)
        // LEADER(showDebugWindow, , &kp la(N5), DEF)
        // LEADER(showProblemsWindow, , &kp la(N6), DEF)
        // LEADER(showStructureWindow, , &kp la(N7), DEF)
        // LEADER(ShowServicesWindow, , &kp la(N8), DEF)
        // LEADER(ShowVersionControl, , window la(N9), DEF)
        // LEADER(ShowCommitWindow, , &kp la(N0), DEF)
        // LEADER(ShowTerminalWindow, , &kp la(F12), DEF)
    };
};